<div class="container form-horizontal col-sm-offset-4">
 <%= form_for @student, html:{id: :"new_student"} do |f| %>
<div id="main">

</div>
 <div class="form-group field ">
    <div class="col-sm-2 control-label"><%= f.label :name %><br /></div>
    <div class="col-sm-4"><%= f.text_field :name %></div>
  </div>
  <div class="form-group field">
    <div class="col-sm-2 control-label"><%= f.label :roll_no  %><br /></div>
    <div class="col-sm-4"><%= f.text_field :roll_no  %></div>
  </div>
  <div class="form-group field">
    <div class="col-sm-2 control-label"><%= f.label :email %><br /></div>
    <div class="col-sm-4"><%= f.email_field :email%></div>
  </div>
  <div class="form-group field">
    <div class="col-sm-2 control-label"><%= f.label :photo %><br /></div>
    <div class="col-sm-4"><%= f.file_field :photo %></div>
  </div>
    
  <!-- <div> -->
    <!-- <div class="col-sm-2 control-label"><%= f.label :remote_photo_url, "photo URL" %></div><br />
    <div class="col-sm-4"><%= f.text_field :remote_photo_url %></div>
  </div><br/> -->

    <%#= f.button "Submit", :class => 'btn btn-primary col-sm-2 col-sm-offset-2', 'id' => 'submit'%>
<button id="submit" type="submit" class="btn btn-primary col-sm-2 col-sm-offset-2">Submit</button>
 <!--  <button id="submit" type="button" class="btn btn-primary col-sm-2 col-sm-offset-2" data-toggle="modal" data-target=".bs-example-modal-sm">Submit</button>  -->

  <div id ="for_name" aria-labelledby="mySmallModalLabel" role="dialog" tabindex="-1" class="modal fade in" style="padding-right: 13px;"> 
    <div class="modal-dialog modal-sm"> 
      <div class="modal-content"> 
        <div class="modal-header"> 
          <button aria-label="Close" data-dismiss="modal" class="close" type="button">
            <span aria-hidden="true">×</span>
          </button> 
          <h4 id="mySmallModalLabel" class="modal-title">Alert!</h4> 
        </div> 
          <div class="modal-body"></div> 
        </div> 
      </div> 
    </div>
          
<% end %>
</div>


<script type="text/javascript">
  $(document).ready(function() {
     // $("#new_student").submit(function( event ) {
     //    event.preventDefault()
     //    event.stopPropagation()

     //    $("#new_student").validate({
     //      rules: {
     //        student[name]: "required"
     //      },
     //      messages: {
     //        student[name]: "Please enter your name"
     //      } 
     //    });
     //  })
  $("#new_student").validate({
      rules: {
        "student[name]": {
          required: true
        },
        "student[roll_no]": {
          minlength: 5,
          maxlength: 5,
          required: true
        },
        "student[email]": {
          required: true,
          email: true
        } ,
        "student[photo]": {
          required: true
        }
      },
      messages: {
        "student[name]": {
          required: "Please enter your name"
        },
        "student[roll_no]": {
          required: "Please your roll number of length 5",
          minlength: "Roll numbermust be of length 5"
        },
        "student[email]": {
          required: "Please enter your email",
          email: "Please enter a valid email"
        },
        "student[photo]": {
          require: "Photo required"
        }
      }
    });
    
    // $("#submit").click(function(){
    //   if($("#student_name").val() == ""){
    //     $(".modal-body").html("Name cant be left blank")
    //     $('#for_name').modal('show');
    //   }
    //   else if($("#student_roll_no").val().length != "5"){
    //     $(".modal-body").html("Roll must be of 5 length")
    //     $('#for_name').modal('show');
    //   }
    //   else{
    //     $("#new_student").submit()
    //   }         
    // });

  });
</script>