<div class="container"><table class="table table-hover table-bordered table-condensed " border="1" id="mytable">

	 <tr>
		  <th>student name</th>		
		  <th>roll number</th>	
          <th>email id</th>
	 </tr>

	 <tr>
		  <td><%= @student.name %> </td>
		  <td><%= @student.roll_no %> </td>	
      <td><%= @student.email %></td>
      <td><button id=<%=@student.id %> class = "myfunc"><%= @student.check ?  "pass" : "fail" %></button></td>
      <td><%= image_tag @student.photo_url() if @student.photo? %></td>
	 </tr>
</table>


<h2>Contact info</h2>

<h1>Add an address:</h1>

<!-- ([@user, @user.comments.build]) -->
<%= form_for([@student, @student.contacts.build]) do |f| %>
  <div style="width:900px;height:500px">
    <div style="float:left">
      <div style="width: 46.5%;position: absolute; height: 36px; ">
        <div id="caption" style="padding: 8px; border: 1px solid yellow;display: none;float:right"></div>
      </div>
      <video width="600" controls>
        <source src="video.mp4" type="video/mp4">
      </video>
      <div>
        <div class="form-group field ">
          <%= f.label :comment %><br/>
          <%= f.text_area :body, class: "caption" %>
        </div>
        <button id="submit_btn" remote="true">Submit</button>
        <!-- <label>Comment</label>
        <input id="com" type="text" class="caption" placeholder="Comment">
        <button id="submit_btn">Submit</button> -->
      </div>
      <p>Playback position: <span id="demo"></span></p>
    </div>
    <div style="float:right" id="comments">
      <h2>Comments:</h2>
      <ul>

      </ul>
    </div>
  </div>
<%end%>


<script src="jquery.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    // $("#text")[0].stop()
  })
  var video = $('video')[0]
    console.log(video.readyState)
    if(video.readyState > 0) {
      console.log("======")
      var minutes = parseInt(video.duration / 60, 10);
      var seconds = video.duration % 60;
    }
    video.onplay = function() {
      // $("#text")[0].start()
    };
    video.onpause = function() {
      // $("#text")[0].stop()
    };
    video.ontimeupdate = function() {myFunction()};
    
    function myFunction() {
      $("#demo").html(video.currentTime)
      t=parseInt($("#demo").html())
      c=$($("li[value='"+t+"']")[0]).html()
      if (c != undefined){
        d=c.split('-')[0]
        $("#caption").html(d).show()
      }else{
        $("#caption").html("").hide()
      }
    }


  $("#submit_btn").click(function(event) {
    var time = parseInt($('video')[0].currentTime)
    var c = $(".caption").val()
    $("#caption").html( $("#caption").html() + c)
    $(".caption").val("")
    $("#comments ul").append("<li value="+time+">"+c+" - "+time+"</li>")
    $

  });
  

</script>


</div>

<nav class="navbar navbar-default ">
<div class="col-sm-offset-6"><%= link_to 'Edit', edit_student_path(@student) %>||
<%= link_to 'Back', students_path %>
</div>
</nav>


<script type="text/javascript">
  $(document).ready(function(){
      $(".myfunc").click(function(){
      	var src = $(this)
      	var user_id = src.attr("id")
      	// alert(user_id)
   	    $.ajax({    	    	   
	        url: "/students/"+user_id+"/status",
	        data: "data="+src.html() ,
	        success: function(){
	        	console.log("success")
	        	if(src.html()=="pass"){
	        		src.html("fail")
	        		$("#"+user_id).css("background-color","red")
	        	}
	        	else{
	        		src.html("pass")
	        		$('#'+user_id).css("background-color", "green")
	        	}

	        },
	        error: function(){
	        	
	        	console.log("error")
	        }
	    })
   	})
  })
</script>